* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
}

#big {
    background-image: url("https://imgur.com/xkwI9hY.jpg");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 539px) {
    #logo_div{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-left: 0;
        align-items: flex-start;
    }
}

#id_size {
    font-family: helvetica;
}

#id_quantity {
    font-family: helvetica;
}

#logo {
    text-align: center;
    margin: auto;
    width: 50%;
    min-width: 300px;
    padding-top: 15%;
    padding-left: 15%;
}

@media screen and (max-width: 539px) {
    #logo {
        padding-left: 0%;
    }
}


#detail_wrap {
    display: flex;
}

#pic_and_add {
    flex-direction: column;
}

#add_button {
    margin-left: 220px;
    height: 40px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    background-color: #859398;
}

/* @font-face {
    font-family: myFirstFont;
    src: url(chlakh_demo.ttf);
} */

#navigation {
    /* font-family: myFirstFont; */
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
}

.logo_div {
    width: 55%;
    min-width: 100px;
    height: 5vh;
    padding-top: 16px;
    display: flex;
    justify-content: flex-start;
   
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: helvetica;
    padding-top: 30px;
}

#login_body {
    background-image: url("https://imgur.com/xkwI9hY.jpg");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_buttons {
    width: 45%;
    min-width: 220px;
    padding-top: 16px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    font-family: Helvetica;
}

nav {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    height: 5vh;
    min-height: 47px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.product_wrap {
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}


@media screen and (max-width: 539px) {
    .product_wrap {
        display: flex;
        padding-left: 0px;
        justify-content: center;
        text-align: center;
    }
}

a:-webkit-any-link {
    text-decoration: none;
    font-family: Helvetica;
    color: black;
}

footer {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    text-align: center;
    height: 50px;
}

p label {
    font-family: helvetica;
}