{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weird Millennial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <nav id="navigation">
        {% if user.is_authenticated %} 
            <div class="logo_div">
                <a href="/">PINK Desert</p>
            </div>
            <div class="nav_buttons">          
                <span>{{user.username}}</span>
                <a href="/about">About</a>
                <a href="/products">Products</a>
                <a href="/cart">Cart</a>
                <a href="{% url 'logout' %}">Log Out</a> 
            </div>               
        {% else %}
            <div class="logo_div">
                <a href="/">PINK Desert</p>
            </div>
            <div class="nav_buttons">
                <a href="/about">About</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Log In</a>
            </div>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>