{% extends 'base.html' %}
{% block content %}

<section id="big">
    <img id="logo" src="https://i.imgur.com/g3aDLNr.png">
</section>

{% for product in products %} 
<div class="product_wrap">
    <a href="{% url 'product_detail' product.id %}"> <!--'product_detail' has to match "name='product_detail'" in URLS.PY-->
        <div><img src="{{product.image_url}}" height="300"></div>
        <p class="product_text">Name: {{product.name}}</p>
        <p class="product_text">Price: {{product.price}}</p>
    </a>
</div>
{% endfor %} 


<footer>footer</footer>

{% endblock %}
